* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media only screen and (max-width: 900px) {
  .data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body {
  background-color: #204051;
  font-family: "Lato";
}

.header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #84a9ac;
  font-size: 3em;
  padding: 20px;
}

.switch-container {
  background-color: #84a9ac;
}

.data-p {
  background-color: #84a9ac;
  text-align: center;
  padding-top: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #84a9ac;
}

.form-container-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #84a9ac;
}

.form-button {
  padding: 5px 0 10px 0;
  margin-top: 10px;
}

.form-button-data {
  display: flex;
  justify-content: center;
  padding: 5px 0 20px 0;
  background-color: #84a9ac;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.data-error-message {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

.data-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.chart-title {
  text-align: center;
  margin-top: 10px;
}
