* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #204051;
}

.header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #84a9ac;
  font-size: 3em;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #84a9ac;
}

.form-button {
  margin-top: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
